@if(telaInicial) {
<div class="card m-4 w-75 h-75" [class]="modelo == 1 ? 'card1' : modelo == 2 ? 'card2' : 'card3'" style="width: 15rem">
  <div class="card-body">
    <h1 class="card-title" [class]="modelo == 1 ? 'text-primary' : modelo == 2 ? 'text-info' : 'text-success'">
      <i class="bi bi-quote"></i>
    </h1>
    <p class="card-text ">
      {{ pensamento }}
    </p>
    <div class="d-flex justify-content-between ">
      <div>
        <p class="text-primary-emphasis fw-bold">{{ autor }}</p>
      </div>
      <div>
        <button class="border-0 bg-transparent me-2" [routerLink]="['/formulario', id]" [state]="{pensamento: pensamento, modelo: modelo, autor: autor, id: id}">
          <i class="bi bi-pencil-square text-primary-emphasis"></i>
        </button>
        <button class="border-0 bg-transparent" (click)="chamaAlert()" >
          <i class="bi bi-trash text-primary-emphasis"></i>
        </button>
      </div>
    </div>
  </div>
</div>
} @else {
<div class="card" [class]="modelo == 1 ? 'card1' : modelo == 2 ? 'card2' : 'card3'" style="width: 15rem">
  <div class="card-body">
    <h5>Previa</h5>
    <p class="card-text">
       ipsum dolor sit amet consectetur adipisicing elit. Incidunt exercitationem iste accusamus
    </p>
    <p class="text-primary-emphasis fw-bold">Autor da Silva Sauro</p>
  </div>
</div>
}
